* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/f1/f1/f0/f1f1f0ef38a0a9d2e5cd2e3bbe9ecb7e.jpg);
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el fondo */
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0,0.3);

}

/* Para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Para pantallas medianas */
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Para pantallas grandes */
  @media only screen and (min-width: 1201px) {
    body {
      font-size: 18px;
    }
  }
  
